* {
    box-sizing: border-box;
    /* border: 1px solid black; */
}
body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8em;
    background-color: #e9f5ed;
}
.nav { 
    display: flex; 
    margin-bottom: 0px;
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;
    background-color: #e9f5ed;
    width: 100%;
    }

.nav-left, .nav-right {
    width: 50%;
    display: flex;
    align-items: center;
}
.nav-right {
    justify-content: flex-end;
}
.nav-items{
    font-weight: bold;
    font-size: 13px;
}
.nav-left .nav-items {
    margin-right: 35px;
}
.nav-right .nav-items {
    margin-left: 35px;
}

.p-5 {
    padding: 10px;
}

.br-5 {
    border-radius: 5px;
}

button {
    background-color: #e9f5ed;
    color: teal;
    border: 0;
    line-height: 20px;
    border: 1px solid green;
    width: 120px;
}


.logo {
    width: 150px;
    height: 80px;
    background-color: #e9f5ed;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30vh;
    width: 100%;
 
 }
 h1{
     font-size: 5em;
 }
 p{
    font-size: 2em;
    padding-top: 28px;
 }
 .cta-button {
    background-color: rgb(34, 138, 34);
    color: white;
    border: 0;
    width: 25%;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 30px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 3px;
}
a{
    margin-top: 25px;
    color: black;
}
.about{
    display: flex;
    margin-top: 40px;
    justify-content: space-evenly;
    

}

.hh2{
  display: flex;
  padding-top: 10px;
}
.pp2{
    display: flex;
    font-size: 18px;
    justify-content: flex-start;
    padding-right: 50px;
}
.defs{
    padding-top: 20px;
    margin-right: 5%;
}
.pro{
    margin-left: 5%;
}